body{
    background-image: linear-gradient(rgb(207, 207, 192), rgb(178, 178, 141));
}

#searchBox{
    display: flex;
    justify-self: center;
    border: 2px solid darkslateblue;
}

#main{
    display: grid;
    grid-template-columns: 20vw 20vw 20vw;
    grid-template-rows: auto auto;
    grid-gap: 10px;
    justify-content: center;
}

.poster{
    width: 20vw;
}

#title{
    font-size: x-large;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.description{
    width: 20vw;
}

#rating{
    color: gold;
    text-shadow: 1px 1px 0 black;
}

.movie{
    background-color: beige;
}

