body{
    background-image: linear-gradient(rgb(166, 162, 162), rgb(167, 160, 160));
}

#searchBox{
    display: flex;
    justify-self: center;
    border: 2px solid darkslateblue;
}

#main{
    display: grid;
    grid-template-columns: 20vw 20vw 20vw;
    grid-template-rows: auto auto;
    grid-gap: 10px;
    justify-content: center;
}

.poster{
    width: 20vw;
}

.description{
    width: 20vw;
}

#rating{
    color: gold;
    text-shadow: 1px 1px 0 black;
}

